body
{
    background-color: rgb(177, 242, 245);
}
.heading
{
    text-align: center;
}
.formd
{
    background-color: rgb(252, 252, 247);
    
}
.a
{
    justify-content: space-evenly;
    position: relative;
    left: auto;
    padding-left: 20px;

}
.b
{
    justify-content: space-evenly;
    position: relative;
    left: auto;
    padding-left: 20px;

}
.c
{
    justify-content: space-evenly;
    position: relative;
    left: auto;
    padding-left: 20px;

}
.d
{
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    margin: -25 0 0 -25;
    position: relative;
    left: auto;
    padding-left: 20px;

}
.e
{
    justify-content: space-evenly;
    position: relative;
    left: auto;
    padding-left: 20px;

}